{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <div class="thumbnail col-md-9">

        <img class="img-responsive" src="{{asset('bundles/aut/images/logoicea.jpg')}}" alt="Logo NTI">
        <div class="caption-full">
            <br><br>
            <div class="list-group-item lead well-sm">
                <p align='center'><label>SESSÃO DE ATENDIMENTO</label></p>
            </div>
            <div class="col-md-6 list-group-item">
                <p class="lead" align='center'><b>{{usuario.nome}}</b></p>
                <a class="text list-group-item"><label>Total de Atendimentos:</label> {{totalChamados|length}}</a>
                <a href="{{path('admin_chama dos_em_atendimento_individual')}}" class="text text-warning list-group-item"><label>Chamados Em Atendimento:</label> {{ematendi$
                <a href="{{path('admin_chamados_em_espera_individual')}}" class="text-danger list-group-item"><label>Chamados Em Espera:</label> {{emespera|length}}</a>
                {#                <a href="{{path('chamados_aguardando_atendimento')}}" class="text list-group-item"><label>{#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em Espera$
                <a href="{{path('admin_chamados_concluidos_individual')}}" class="text-success list-group-item"><label>Chamados Concluídos:</label> {{concluidos|length}}</$
            </div>
            <div class="col-md-6 list-group-item">
                <p class="lead" align='center'><b>SISTEMA DE SUPORTE DO NTI</b></p>
                <a href="{{path('admin_chamados_em_aberto')}}" class="text list-group-item"><label>Chamados Em Aberto:</label> {{emaberto|length}}</a>
                <a href="{{path('admin_chamados_aguardando_atendimento')}}" class="text list-group-item"><label>Chamados Aguardando Atendimento:</label> {{aguardandoatendi$
                <br/>
                <div class='col-md-12'>
                    <div class='col-md-7' style='margin-left: -30px; width: 225px;'>
                        <a href="{{path('admin_chamados_aguardando_atendimento_p_baixa')}}" class="btn alert-success btn-group-justified"><label>Prioridade Baixa:</label> $
                        <a href="{{path('admin_chamados_aguardando_atendimento_p_media')}}" class="btn alert-info btn-group-justified"><label>Prioridade Média:</label> {{p$
                    </div>
                    <div class='col-md-7' style='margin-right: -60px;margin-left: -30px; width: 225px;'>
                        <a href="{{path('admin_chamados_aguardando_atendimento_p_alta')}}" class="btn alert-warning btn-group-justified"><label>Prioridade Alta:</label> {{$
                        <a href="{{path('admin_chamados_aguardando_atendimento_p_critica')}}" class="btn alert-danger btn-group-justified"><label>Prioridade Crítica:</label>$
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
